/Prob3plusplus/
/.venv/
/.config/#full.PREM.dat#
/.config/PREM.dat
/.config/PREM_full.dat
/.config/PREM_wYp.dat
/.config/vary_density_boundary.dat
/.output/
/output/
/.idea/
/tests/
*.cpp
/wrapper_Prob3/build/
sftp-config.json
*/__pycache__/
*.so
*.DS_Store
*.csv